{% extends "base.html" %}
{% from "macro/formhelpers.html" import render_field %}
{% block title %}
    Login page
{% endblock %}
{% block body %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
      </div>
    {% endif %}
  {% endwith %}
  <form class="row g-3" method="post" action="{{url_for('auth.login')}}">
    {{ form.csrf_token }}
    <div class="col-auto">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
         {% for error in form.email.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="col-auto">
       {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control") }}
         {% for error in form.password.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Login</button>
    </div>
  </form>
{% endblock %}